body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    background-color: rgb(128, 128, 128);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.click{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 50px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 5px;
    background-color: hotpink;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* opacity: .5; */
    outline: none;
}

.click:hover{
    border-color: black;
    background-color: rgb(241, 66, 154);
}